// Private variables.
$_bookshelf-orange:  #E56515;
$_charcoal:          #4A4A4A;
$_cream:             #FFFDFB;
$_chalk-blue:        #B0C9E4;
$_chalk-orange:      #F0A672;
$_chalk-green:       #B8E986;
$_chalk-tan:         #DCC9AA;
$_faint-orange:      #F8E8D8;
$_faint-tan:         #C58E6B;
$_blue:              #557CAB;
$_gray:              #808080;
$_chalk-faint-green: #CCD6CF;

// Main theme colors.
$main-background-color:      $_cream;
$body-text-color:            $_charcoal;
$body-anchor-color:          $_bookshelf-orange;
$body-title-color:           $_charcoal;
$minor-heading-color:        $_gray;
$stars-color:                #F2B188;
$subsection-title-color:     $_bookshelf-orange;
$footer-color:               $_gray;

// Nav bars colors.
$sidebar-background-color: #eee;
$sidebar-class-name-color: $_bookshelf-orange;
$sidebar-group-name-color: rgba($_bookshelf-orange, 0.7);
$navbar-button-hover-color: darken($_bookshelf-orange, 5%);

// Methods.
$function-signature-background-color:  $_faint-orange;
$function-signature-punctuation-color: $_bookshelf-orange;
$function-signature-return-type-color: $_faint-tan;
$function-signature-source-link-color: $_faint-tan;

// Parameters.
$param-punctuation-color: $_bookshelf-orange;
$param-default-color:       $_blue;
$param-name-color:          black;
$param-type-color:          $_gray;

// Code snippet/example colors.
$code-background-color:      $_charcoal;
$code-main-color:            white;
$code-keyword-color:         $_chalk-blue;
$code-comment-color:         $_chalk-orange;
$code-string-color:          $_chalk-green;
$code-class-color:           $_chalk-tan;
$code-punctuation-color:     $_chalk-faint-green;
