$sidebar-width: 190px;
$main-width: 900px;
$main-top-spacing: 45px;
$navbar-height: 70px;
$header-height: 100px;
$method-margin: 20px;
$indented-list-margin: 30px;
$title-text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.13);
$screen-breakpoint: 650px;
