code {
  font-family: $code-font-family;
}

.source .main-column {
  max-width: 1000px !important;
  padding: 0;
  pre.prettyprint {
    padding-left: 0;
  }
  ol.linenums {
    padding-left: 3.5rem;
    color: $code-punctuation-color;
    li code {
      color: $code-main-color;
    }
  }
}

.main-container {
  &.source {
    margin-left: 0;
  }
  .attributes {
    code {
      font-family: $code-font-family;
    }
    code a, a code {
      color: inherit;
      text-decoration: underline;
    }
    p a code {
      text-decoration: inherit;
    }
  }
}

pre.prettyprint {
  padding: 1rem;
  margin: 2em 0;
  overflow-x: auto;
  font-family: $code-font-family;
  font-size: 0.9rem;
  line-height: 1.8em;
  background-color: $code-background-color;
  color: $code-main-color;

  .pun { color: $code-punctuation-color; }
  .pln { color: inherit; }
  .lit, .str { color: $code-string-color; }
  .kwd { color: $code-keyword-color; }
  .typ { color: $code-class-color; }
  .com { color: $code-comment-color; }
}
